/* Site header */
 .site-header, .site-footer {
     padding: 1em;
     display: flex;
     color: black;
     justify-content: space-between;

     h1 {
         font-family: $body-fontfamily;
         font-size: 1.5em;
         margin: .5em 0 0 0;
     }
     a {
        color: black;
        text-decoration: none;
    }
 } 
 /* Site Header*/ 
.site-header {
    background-color: transparent;
    position: absolute;
    width: 100%;
}
 
 /*Menu Button*/
 .menu-button {
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
    z-index: 200;

}
.menu-button.navicon {
    top: 1em;
    right: 1em;
    line-height: 1.4;
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    overflow: hidden;
    

    &:before {
        display: inline-block;
        content:"\2630";
        width: 1em;
        height: 1em;
        transform: rotate(0);
        transition: .4s all ease-out;
    } 
}

.active .menu-button.navicon:before {
    content: "\2715";
    transform: rotate(-90deg);

}

 /* Site Nav */

 .site-header .site-nav { 
     position: absolute;
     width: 100%;
     top: 0;
     left: 0;
     display: grid;
     place-items: center;
     transition: all .4s ease;
     ul { 
        position: fixed;
        top: -9000px;
        left: -9000px;
        transform: translate(-50%, -50%);
         margin: 0;
         padding: 0; 
         list-style: none;
     }
    li {
            opacity:0;
            font-size: 2em;
            transform: translateY(-30px);       
    }
     a {
         display: block;
         padding : 1em;
     }
     &.active {
        height: 100vh;
        z-index: 100;
        background: rgb(208, 221, 223);

         ul{ 
            position: fixed;
            top: 50%;
            left: 50%;
         }
         li {
             opacity: 1;
             transition: all .4s cubic-bezier(0,1,1,1);
             transform: translateY(0);
             &:nth-child(1){transition-delay: 0;}
             &:nth-child(2){transition-delay: .2s;}
             &:nth-child(3){transition-delay: .4s;}
         }
     }
    }

 /* Site Footer */
.site-footer {
    justify-content: center;
    margin-top: 6em;
    // background-color: $bodybackground;
}
.site-footer .site-nav {
    ul {
        display: flex;
        list-style: none;
    }
    a {
        display: block;
        padding: 1em;
    
    }
}
/* Section */
section {
    padding: 6em, 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.hero {
    padding: 4em 0;
    background: $color-hero-bg;
    // margin-bottom: 3em;
    color: black; 
    // overflow-x: hidden;
    

    p {
        // margin-left: auto;
        margin-right: auto;

    }

h2 {
    display: flex;
    font-size: 4em;
    line-height: 1;

}   
}
.hero .img {
    max-width: 600px;
    margin-left: -200px;
    margin-right: -200px;
   
}
/*Layout*/
.split-crossed-right{
   @media (min-width: $breakpoint-small) {
        .container {
        display: flex;
        align-items: center;
    }

    .image-block {
        width: 50%;
    }

    .text-block {
        width: 50%;
        transform: translateX(-2em);
    }
}
}

.split-crossed-reversed{
    @media (min-width: $breakpoint-small) {
         .container {
         display: flex;
         align-items: center;
         flex-direction: row-reverse;
     }
 
     .image-block {
         width: 50%;
     }
 
     .text-block {
         width: 50%;
         transform: translateX(2em);
     }
 }
 }
  
/* Scroll trigger animation*/ 
[data-scroll] {
    transition: opacity 1s;
}
[data-scroll="in"] {
opacity: 1;
}
[data-scroll="out"] {
opacity: 0;
}
// Split cross left animation// 
[data-scroll].split-crossed-reversed .image-block,
[data-scroll].split-crossed-reversed .text-block{
    transition: 1s ease-out transform;
}

[data-scroll="in"].split-crossed-reversed .image-block{
    transform: translateX(0);
}
[data-scroll="in"].split-crossed-reversed .text-block{
    transform: translateX(-2em);
}
[data-scroll="out"].split-crossed-reversed .image-block{
    transform: translateX(2em);
}
[data-scroll="out"].split-crossed-reversed .text-block{
    transform: translateX(-4em);
}
//UNDERSTANDING// 


.understanding {
    background: white;
}
svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
}

.site-footer .footerimg {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

//crane// 
.crane {
    background: $color-hero-bg;
}
// .crane-color {
//     border: 1px solid red;
//     img {
//         border-radius: 100%;
//         display: flex;
//         flex: 0 0 150px;
//         height: 150px;
//         justify-content: center;
//         overflow: hidden;
//         position: relative;
//         width: 150px;
//         border: 1px solid green;
//       }
// }
.img_overlay:hover:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(227, 218, 214, 0.5); //any color
    color: #fff;
  }
  /*MESSAGE-FORM*/
  @media (min-width:$breakpoint-small) {
    .message-form .container{
    //   width: 100vh;
      margin-top: 150px;
      margin-left: 0;
      margin-right: 0;
      align-content: center;
    }
    .message-form{
        background: $bodybackground;
    }
  }
  @media (max-width:$breakpoint-small) {
    .message-form .container{
        // width: 100vh;
      margin-top: 150px;
      margin-left: 0;
      margin-right: 0px;
      
    }
    h2 {
        margin-top: -50px;
        padding-bottom: 40px;
        text-align: center;
    }
    .message-form{
        background: $bodybackground;
    }
    .crane-line {
        display: grid; 
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);

        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul{
            list-style: none;
        }
    }
    .column.one-half {
        width: 300px;
        height: auto;
        
    }
    .message-form.container.btn.btn-1 {
        margin-bottom: 100px;
    }
    .message-form .btn {
        margin-top: 100px;
    }
  }
  @media (min-width:$breakpoint-medium) {
    .message-form.container.btn.btn-1 {
        margin-bottom: 100px;
    }
    .message-form .btn {
        margin-top: 50px;
    }
    
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul{
            list-style: none;
        }
    }
    .column.one-half {
        width: 300px;
        height: auto;
    
}
.crane-line.colorpicker {
    padding-left: 0;
}
  @media (max-width:$breakpoint-large) {
    h2 {
        margin-left: -10px;
    }
    .message-form.container.btn.btn-1 {
        margin-bottom: 100px;
    }
    .message-form .btn {
        margin-top: 50px;
    }
    .crane-line.colorpicker {
        padding-left: 0;
    }
    .crane-line {
        display: grid; 
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(3, 1fr);

        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul{
            list-style: none;
        }
    }
}

  .crane-line {
    // position: absolute;
    display: inline-block;
    list-style: none;
}

.big-crane {
      min-width: 300px;
      height: auto;

      @media (min-width:$breakpoint-medium) {
        margin-left: -100px;
      }
}
  /*FORM*/
  @media (min-width:$breakpoint-medium) {
    form {
        min-width: 535px;
      }
      
      label, input, textarea {
        display: block;
        width: 100%;
        margin-right: 0;
      }
      
      label {
        margin-top: 1em;
    
      }
      
      input[type="text"], textarea {
        border: 1px solid #ccc;
        padding: 1em;
        font-size: 1em;
        background: #eee;
        color: #444;
      }
      
      textarea {
        min-height: 150px;
      }
      input[type=submit] {
        width: auto;
        margin-top: 1em;
        font-size: inherit;
      } 
  }
  
form {
    max-width: 600px;
  }
  
  label, input, textarea {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  
  label {
    margin-top: 1em;

  }
  
  input[type="text"], textarea {
    border: 1px solid #ccc;
    padding: 1em;
    font-size: 1em;
    background: #eee;
    color: #444;
  }
  
  textarea {
    min-height: 150px;
  }
  input[type=submit] {
    width: auto;
    margin-top: 1em;
    font-size: inherit;
  }
  
/*Color Switch*/ 
.colorpicker {
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
    @media (min-width: $breakpoint-medium) {
        flex-wrap: nowrap;
    }

}

.colorpicker li {
    list-style-type:none;
    text-align: center;
    min-width: 70px;
    margin: 1%;
}

.colorpicker li img {
    max-width: 70px;
    height: auto;
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover{
        // width:150px;
        transform: scale(1.1);

    }
}